@{
    ViewBag.Title = "Main Page";
}
<div class="row ">

    <!-- Most Downloaded Tab -->
    <div class="col-sm-4" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <!-- Title-->
                    <li style="text-align: center" class="list-group-item">
                        <h5 style="margin-top: -3vh; margin-bottom: 0.5vh;" class="card-title Center">Most Downloaded</h5>
                    </li>

                    <li class="list-group-item">

                        <!-- Audio Sample Info -->
                        <p class="card-text"><i class="fas fa-user"></i><a href="#"><b> J-Bounce</b></a></p>
                        <h5 style="margin-top: -3vh; margin-bottom: -1.5vh;" class="card-title">Voice-in-background</h5>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-download"></i>10 </h6>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-clock"></i>10/12-2019 </h6>

                    </li>

                    <li class="list-group-item">

                        <!-- Audio Sample Info -->
                        <p class="card-text"><i class="fas fa-user"></i><a href="#"><b> J-Bounce</b></a></p>
                        <h5 style="margin-top: -3vh; margin-bottom: -1.5vh;" class="card-title">Voice-in-background</h5>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-download"></i>10 </h6>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-clock"></i>10/12-2019 </h6>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Recent Tab -->
    <div class="col-sm-4" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <!-- Title-->
                    <li style="text-align: center" class="list-group-item">
                        <h5 style="margin-top: -3vh; margin-bottom: 0.5vh;" class="card-title Center">Recent</h5>
                    </li>

                    <li class="list-group-item">

                        <!-- Audio Sample Info -->
                        <p class="card-text"><i class="fas fa-user"></i><a href="#"><b> J-Bounce</b></a></p>
                        <h5 style="margin-top: -3vh; margin-bottom: -1.5vh;" class="card-title">Voice-in-background</h5>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-download"></i>10 </h6>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-clock"></i>10/12-2019 </h6>

                    </li>

                    <li class="list-group-item">

                        <!-- Audio Sample Info -->
                        <p class="card-text"><i class="fas fa-user"></i><a href="#"><b> J-Bounce</b></a></p>
                        <h5 style="margin-top: -3vh; margin-bottom: -1.5vh;" class="card-title">Voice-in-background</h5>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-download"></i>10 </h6>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-clock"></i>10/12-2019 </h6>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Random Tab -->
    <div class="col-sm-4" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <!-- Title-->
                    <li style="text-align: center" class="list-group-item">
                        <h5 style="margin-top: -3vh; margin-bottom: 0.5vh;" class="card-title Center">Random Tab</h5>
                    </li>

                    <li class="list-group-item">

                        <!-- Audio Sample Info -->
                        <p class="card-text"><i class="fas fa-user"></i><a href="#"><b> J-Bounce</b></a></p>
                        <h5 style="margin-top: -3vh; margin-bottom: -1.5vh;" class="card-title">Voice-in-background</h5>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-download"></i>10 </h6>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-clock"></i>10/12-2019 </h6>

                    </li>

                    <li class="list-group-item">

                        <!-- Audio Sample Info -->
                        <p class="card-text"><i class="fas fa-user"></i><a href="#"><b> J-Bounce</b></a></p>
                        <h5 style="margin-top: -3vh; margin-bottom: -1.5vh;" class="card-title">Voice-in-background</h5>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-download"></i>10 </h6>
                        <h6 style="margin-top: -2vh; font-size: 1.5vh;" class="card-text allign"><i class="fas fa-clock"></i>10/12-2019 </h6>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>