@model SampleShareV1.Models.AudioSamples

@{
    ViewBag.Title = "UploadSample";
}

<body class="backgroundimg">
    <div class="container emp-profile">
        @using (Html.BeginForm("UploadSample", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <fieldset>
            <h3>Upload Sound (MP3, WAV, FLAC)</h3>
            <div class="custom-file">
                <label style="margin-right:15px;">Select file </label>
                <input type="file" name="FilePath" value="" />
            </div>
            <div style="margin-top: 2vh;">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          
        </fieldset>
}
    </div>
</body>

